<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
  <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span
      class="fs-5 d-none d-sm-inline w-100 d-flex align-items-center justify-cotent-center flex-column text-center">
      <img src="assets/logo.png" class="w-100" alt="">
      <!-- <p class="mb-0 sidebar-logo-text">EXCISE TAXATION & <br> NARCOTICS CONTROL DEPARTMENT</p> -->
    </span>
  </a>
  <hr style="border-color: white !important;">
  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start mt-5" id="menu">
    <!-- <li class="nav-item">
      <a href="/src/app/_components/dashboard/dashboard.component.html" class="nav-link align-middle px-0">
        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
      </a>
    </li> -->
    <li>
      <a href="master/dashboard" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
        <i class="fs-4 fas fa-tachometer-alt"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
    </li>
    <li>
      <a href="master/addItem" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
        <i class="fs-4 fas fa-tachometer-alt"></i> <span class="ms-1 d-none d-sm-inline">Donate Items</span> </a>
    </li>
  </ul>
  <hr>
</div>