.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0.5rem 1rem;
  }

  .navbar-brand img {
    max-height: 3rem;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    flex-direction: row !important;
  }

  .nav-item {
    margin-right: 1rem;
  }

  .nav-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  .nav-link img {
    margin-right: 0.5rem;
    max-height: 1.5rem;
  }
  .canvas-with-border {
    border: 1px solid black;
  }
  .canvas-wrapper {
    display: block;
    margin: 5px;
  }

  @media (max-width: 575px) {
    .canvas-wrapper {
      width: calc(33.33% - 10px);
    }
  }
