<div class="container consignment">

  <div class="divider mt-3"></div>
  <section class="py-5" style="width: 1240px;">
    <div class="container px-4 px-lg-">
      <div class="row justify-content-center">
        <!-- <div class="col-lg-7 col-md-6 col-sm-12 order-lg-first">
      </div> -->
        <form action="javascript:;" class="auth-forms w-100" [formGroup]="form" autocomplete="off">
          <h3>Donate Items</h3>
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-floating">
                    <label for="itemName">Item Name</label>
                    <input type="text" formControlName="itemName" class="form-control" id="itemName" placeholder="Item Name" maxlength="50">
                    <div *ngIf="f['itemName'].touched && f['itemName'].invalid " class="alert alert-danger">
                      Item name required.
                  </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <label for="itemName">Item Type</label>
                    <select class="form-control form-select" formControlName="itemType" style="width: auto" [(ngModel)]="selectedItemType">
                      <option value="">Please Select Item Type</option>
                      <option *ngFor="let item of ddCategory" [value]="item.key">
                        {{item.value}}
                      </option>
                    </select>
                    <div *ngIf="f['itemType'].touched && f['itemType'].invalid " class="alert alert-danger">
                      Item type required.
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-floating mt-2">
                    <label for="itemSize">Item Size (cm)</label>
                    <input type="text" class="form-control" formControlName="itemSize" id="itemSize" placeholder="Item Size" maxlength="50">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating mt-2">
                    <label for="ItemQuantity">Item Quantity</label>
                    <input type="number" class="form-control pass-field" formControlName="ItemQuantity" id="ItemQuantity" placeholder="Item Quantity"
                      min="1">
                      <div *ngIf="f['ItemQuantity'].touched && f['ItemQuantity'].invalid " class="alert alert-danger">
                        Item quantity required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="selectedItemType ==='1'">
                <div class="col-md-12">
                  <div class="form-floating mt-2">
                    <label for="Item Expiry">Item Expiry</label>
                    <input type="date" class="form-control" formControlName="ItemExpiry" id="ItemExpiry" placeholder="Item Expiry">
                    <div *ngIf="f['ItemExpiry'].touched && f['ItemExpiry'].invalid && selectedItemType ==='1'" class="alert alert-danger">
                      Item expiry required.
                  </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-floating mt-2">
                    <label for="ItemLoc" *ngIf="selectedItemType === '1' || selectedItemType === '2' ||  selectedItemType === ''" >Pick up Location</label>
                    <label for="ItemLoc" *ngIf="selectedItemType === '3' || selectedItemType === '4'">Location</label>
                    <input type="text" class="form-control" formControlName="ItemLoc" id="ItemLoc" placeholder="Item Location">
                    <div *ngIf="f['ItemLoc'].touched && f['ItemLoc'].invalid" class="alert alert-danger">
                      Pick up location required.
                  </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-floating mt-2">
                    <label for="ItemDescription">Item Description</label>
                    <textarea class="form-control" formControlName="ItemDescription" id="ItemDescription" placeholder="Describe the item in detail here"
                      style="height: 200px;" maxlength="850"></textarea>
                      <div *ngIf="f['ItemDescription'].touched && f['ItemDescription'].invalid " class="alert alert-danger">
                        Item description required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="selectedItemType ==='1' || selectedItemType ==='2'">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-floating">
                    <label for="username">Select Images</label>
                    <input type="file" formControlName="imageUpload" class="form-control-file" id="image-upload" multiple
                      (change)="handleFileInput($event)">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <h5>Image Preview:</h5>
                <div class="d-flex flex-wrap">
                  <div class="canvas-wrapper" *ngFor="let canvas of canvases; let i = index">
                    <img [src]="canvas" [alt]="'Image ' + (i + 1)" class="uploaded-image" width="150" height="150">
                    <button class="btn btn-danger" (click)="deleteImage(i)">Delete</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </form>
        <button type="submit" class="reg-submit-btn" (click)="Save()">Add Item <span class="submit-btn-icon"><img
              src="../../assets/next.png" alt=""></span></button>
      </div>
    </div>
  </section>
</div>
