<div class="container-fluid login">
  <div class="divider mt-3"></div>

  <div class="content">
    <h1 class="mt-5">Contact Us</h1>
    <p class="lead">If you have any questions, comments, or feedback about our app, we would love to hear from you. Please feel free
      to reach out to us at <a href="mailto:support@giveawayyouritems.com">support@giveawayyouritems.com</a>. We value
      your input and are constantly working to improve our app, so please don't hesitate to get in touch. Thank you for
      your support and for joining us in our mission to give back to those in need.</p>
    <h2>How it works</h2>
    <ol>
      <li class="lead">Create an Account: The first step is to create an account on the app by providing your name, email, and a
        password. Once you've created an account, you can start using the app to give away your items or find items you
        need.</li>
      <li class="lead">List your Items: To give away items, simply list them on the app by providing details such as the type of
        item, condition, and location. You can also choose to auction or donate the items for charitable causes.</li>
      <li class="lead">Search for Items: To find items you need, use the search function to look for items by type or location. You
        can also view a map to see items available near your location.</li>
      <li class="lead">Contact the Donor: When you find an item you're interested in, you can contact the donor through the app to
        arrange for pickup or delivery.</li>
      <li class="lead">Rate your Experience: After a successful transaction, you can rate your experience with the donor to help
        improve the community's trust and credibility.</li>
    </ol>
    <p class="lead">We hope this helps!</p>
  </div>
</div>
