<div class="container-fluid login">
  <div class="divider mt-3"></div>

  <div class="content">
    <h1 class="mt-5">About Us</h1>
    <p class="lead">We are a team of passionate individuals who believe in the power of giving. Our mission is to create
      a platform that makes it easy for people to donate their items to those in need and support charitable causes
      through item auctions and donations. Our app connects people who want to give with those who need it most,
      promoting kindness, generosity, and community.</p>
    <p class="lead">At our core, we believe that everyone has something to give. Whether it's gently used clothing,
      household items, or other belongings, these donations can have a profound impact on the lives of those less
      fortunate. We provide a safe and secure platform that facilitates the donation process and ensures that your
      contributions reach those who need them the most.</p>
    <p class="lead">By utilizing our platform, you can make a difference in your community and beyond. Together, we can
      create a better world by fostering a culture of giving and compassion. Join us in our mission to make giving easy
      and meaningful.</p>
  </div>
</div>
